dist/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ie-detector.js"></script>
    <script src="js/modernizr.js"></script><!--[if lt IE 7]>  <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <![endif]-->
  </head>
  <div class="page-wrapper" id="page-wrapper">
    <!--include ../chunks/header.pug-->
    <div class="page-body" id="page-body">
      <div class="container">
        <div class="content" id="sticky">
          <div class="content__title">
            <h1>customers (kol/hcp/advocacy/other)</h1><span class="btn btn--add"></span>
          </div>
          <div class="content__filter js-filter-btns"><a class="btn btn--filter icon icon--filter filter" href="#">
              <svg class="icon icon-filter ">
                <use xlink:href="img/svgsprite/sprite.svg#filter"></use>
              </svg><span>Refine</span></a><a class="btn btn--filter active" href="#"><span>Show Mutual Requests</span></a><a class="icon icon--search" href="#">
              <svg class="icon icon-search ">
                <use xlink:href="img/svgsprite/sprite.svg#search"></use>
              </svg></a></div>
          <div class="content__options" id="options">
            <form class="content__options-form">
              <div class="content__options-row">
                <div class="content__options-item"><span class="content__options-title">arranged by</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
                <div class="content__options-item"><span class="content__options-title">name</span>
                  <input type="text" name="name">
                </div>
                <div class="content__options-item"><span class="content__options-title">title</span>
                  <input type="text" name="title">
                </div>
              </div>
              <div class="content__options-row">
                <div class="content__options-item"><span class="content__options-title">company</span>
                  <input type="text" name="company">
                </div>
                <div class="content__options-item"><span class="content__options-title">country</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
                <div class="content__options-item"><span class="content__options-title">state</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
              </div>
              <div class="content__options-row">
                <div class="content__options-item"><span class="content__options-title">arranged by</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
                <div class="content__options-item"><span class="content__options-title">name</span>
                  <input type="text" name="name">
                </div>
                <div class="content__options-item"><span class="content__options-title">title</span>
                  <input type="text" name="title">
                </div>
              </div>
              <div class="content__options-row">
                <div class="content__options-item"><span class="content__options-title">company</span>
                  <input type="text" name="company">
                </div>
                <div class="content__options-item"><span class="content__options-title">country</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
                <div class="content__options-item"><span class="content__options-title">state</span>
                  <select>
                    <option>First Name</option>
                    <option>Last Name</option>
                    <option>Nickname</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="elements">
          <div class="elements__item">
            <div class="elements__symbol">b</div><a class="elements__unit" href="#" data-status="confirmed">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jackie Bower</span><span class="elements__where">Executive Director</span><span class="elements__subject">Clean Label Project</span><span class="elements__status">confirmed</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Lai Brooks</span><span class="elements__where">Advanced Practice Registered Nurse</span><span class="elements__subject">Lebonheur Comprehensive Epilepsy Program</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">c</div><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jean-Ronel Corbier</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Paul Corbier</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">d</div><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Brianna Dale</span><span class="elements__where">Registered Nurse</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">b</div><a class="elements__unit" href="#" data-status="confirmed">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jackie Bower</span><span class="elements__where">Executive Director</span><span class="elements__subject">Clean Label Project</span><span class="elements__status">confirmed</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Lai Brooks</span><span class="elements__where">Advanced Practice Registered Nurse</span><span class="elements__subject">Lebonheur Comprehensive Epilepsy Program</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">c</div><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jean-Ronel Corbier</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Paul Corbier</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">d</div><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Brianna Dale</span><span class="elements__where">Registered Nurse</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="elements__item">
            <div class="elements__symbol">more items</div><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Brianna Dale</span><span class="elements__where">Registered Nurse</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jean-Ronel Corbier</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="confirmed">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jackie Bower</span><span class="elements__where">Executive Director</span><span class="elements__subject">Clean Label Project</span><span class="elements__status">confirmed</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Long Test-Testovich Long Test-Testovich Long Test-Testovich</span><span class="elements__where">Advanced Practice Registered Nurse</span><span class="elements__subject">Lebonheur Comprehensive Epilepsy Program</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="confirmed">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Jackie Bower</span><span class="elements__where">Executive Director</span><span class="elements__subject">Clean Label Project</span><span class="elements__status">confirmed</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Lai Brooks</span><span class="elements__where">Advanced Practice Registered Nurse</span><span class="elements__subject">Lebonheur Comprehensive Epilepsy Program</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Andrey Shevtsov</span><span class="elements__where">Pediatric Neurology: Neurology</span><span class="elements__subject">BRAIN RESTORATION CLINIC</span><span class="elements__status">pending</span></div></a><a class="elements__unit" href="#" data-status="pending">
              <div class="elements__str"></div>
              <div class="elements__info"><span class="elements__name js-name">Long Test-Testovich Long Test-Testovich Long Test-Testovich</span><span class="elements__where">Advanced Practice Registered Nurse</span><span class="elements__subject">Lebonheur Comprehensive Epilepsy Program</span><span class="elements__status">pending</span></div></a>
          </div>
          <div class="hidden"></div>
        </div>
      </div>
    </div>
    <!--include ../chunks/footer.pug-->
  </div><!-- inject:js -->
<script src="js/vendor/jquery-1.11.1.min.js"></script>
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/jquery.sticky.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<script src="js/vendor/lib/select2.full.min.js"></script>
<!-- endinject -->

  <script src="js/common.js"></script>
</html>

src/chunks/index.pug
.container
    .content#sticky
        .content__title
            h1 customers (kol/hcp/advocacy/other)
            span.btn.btn--add
        .content__filter.js-filter-btns
            a(href="#" class="btn btn--filter icon icon--filter filter")
                +icon('filter')
                span Refine
            a(href="#" class="btn btn--filter active")
                span Show Mutual Requests
            a(href="#" class="icon icon--search")
                +icon('search')
        .content__options#options
            form.content__options-form
                .content__options-row
                    .content__options-item
                        span.content__options-title arranged by
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title name
                        input(type="text" name="name")
                    .content__options-item
                        span.content__options-title title
                        input(type="text" name="title")
                .content__options-row
                    .content__options-item
                        span.content__options-title company
                        input(type="text" name="company")
                    .content__options-item
                        span.content__options-title country
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title state
                        select
                            option First Name
                            option Last Name
                            option Nickname
                .content__options-row
                    .content__options-item
                        span.content__options-title arranged by
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title name
                        input(type="text" name="name")
                    .content__options-item
                        span.content__options-title title
                        input(type="text" name="title")
                .content__options-row
                    .content__options-item
                        span.content__options-title company
                        input(type="text" name="company")
                    .content__options-item
                        span.content__options-title country
                        select
                            option First Name
                            option Last Name
                            option Nickname
                    .content__options-item
                        span.content__options-title state
                        select
                            option First Name
                            option Last Name
                            option Nickname
    .elements
        .elements__item
            .elements__symbol b
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .elements__item
            .elements__symbol c
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Paul Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol d
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol b
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .elements__item
            .elements__symbol c
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Paul Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol d
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
        .elements__item
            .elements__symbol more items
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Brianna Dale
                    span.elements__where Registered Nurse
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jean-Ronel Corbier
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Long Test-Testovich Long Test-Testovich Long Test-Testovich
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
            a(href="#" data-status="confirmed").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Jackie Bower
                    span.elements__where Executive Director
                    span.elements__subject Clean Label Project
                    span.elements__status confirmed
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Lai Brooks
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Andrey Shevtsov
                    span.elements__where Pediatric Neurology: Neurology
                    span.elements__subject BRAIN RESTORATION CLINIC
                    span.elements__status pending
            a(href="#" data-status="pending").elements__unit
                .elements__str
                .elements__info
                    span.elements__name.js-name Long Test-Testovich Long Test-Testovich Long Test-Testovich
                    span.elements__where Advanced Practice Registered Nurse
                    span.elements__subject Lebonheur Comprehensive Epilepsy Program
                    span.elements__status pending
        .hidden
